<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="T_ReXcape.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <T_ReXcape.Properties.Settings>
            <setting name="fullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="playMusic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="playSoundEffects" serializeAs="String">
                <value>True</value>
            </setting>
        </T_ReXcape.Properties.Settings>
    </userSettings>
</configuration>